
#slide-81.slide {
  display: block;
  width: 900px;
  height: 700px;
}
#slide-81 .slide-content {
  display: block;
  float: left;
  width: 100%;
  height: 84%;
}
#slide-81 .slide-header-1 {
  height: 10%;
  background: #3333B3;
  display: block;
  active: yes;
  width: 100%;
}
#slide-81 .slide-footer-1 {
  height: 6%;
  background: #3333B3;
  padding: 0;
  display: block;
  active: yes;
  width: 100%;
}