*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  padding: 1% 0;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}
a:hover, a:focus {
  background: rgba(255,255,255,1);
  text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}
ul {
  padding-left: 2em;
}
ol {
  padding-left: 2em;
}
pre {
  display:flex;
  padding: 1% 0;
}
.columns:after {
  visibility: hidden;
  content:" ";
  clear: both;
 display: block;
}
input[type=button] {
  padding:0;
  margin:0;
  border:0 none;
  background: rgba(0,0,0,0.01);
}
.countDown {
  display: block;
  padding: 0;
  margin: 0;
}
.timer {
  display:table-row;
}
.timercontrols {
  display:table-row;
}
.step {
  position: relative;
}
.impress-enabled .step.active {
  opacity: 1;
}
.impress-enabled .step {
  margin: 0; 
  opacity: 0.3; 
  -webkit-transition: opacity 1s; 
  -moz-transition: opacity 1s; 
  -ms-transition: opacity 1s; 
  -o-transition: opacity 1s; 
  transition: opacity 1s;
}
body {
  background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

h1 {
  margin: inherit;
  padding: inherit;
  background: inherit;
  color: inherit;
  font: inherit;
  font-weight: inherit;
  font-size: 220%;
  font-family: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  border: inherit;
  border-radius: inherit;
  box-shadow: inherit;
}

h2 {
  margin: inherit;
  padding: inherit;
  background: inherit;
  color: inherit;
  font: inherit;
  font-weight: inherit;
  font-size: 200%;
  font-family: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  border: inherit;
  border-radius: inherit;
  box-shadow: inherit;
}

h3 {
  margin: inherit;
  padding: inherit;
  background: inherit;
  color: inherit;
  font: inherit;
  font-weight: inherit;
  font-size: 180%;
  font-family: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  border: inherit;
  border-radius: inherit;
  box-shadow: inherit;
}

h4 {
  margin: inherit;
  padding: inherit;
  background: inherit;
  color: inherit;
  font: inherit;
  font-weight: inherit;
  font-size: 160%;
  font-family: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  border: inherit;
  border-radius: inherit;
  box-shadow: inherit;
}

h5 {
  margin: inherit;
  padding: inherit;
  background: inherit;
  color: inherit;
  font: inherit;
  font-weight: inherit;
  font-size: 140%;
  font-family: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  border: inherit;
  border-radius: inherit;
  box-shadow: inherit;
}

h6 {
  margin: inherit;
  padding: inherit;
  background: inherit;
  color: inherit;
  font: inherit;
  font-weight: inherit;
  font-size: 120%;
  font-family: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  border: inherit;
  border-radius: inherit;
  box-shadow: inherit;
}

.slide {
  display: block;
  padding: 0;
  margin: 0;
  width: 900px;
  height: 700px;
  font-size: 100%;
  font-family: Open Sans, Arial, sans-serif;
  border: 2px solid black;
}

 .slide-content {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 100%;
  font-family: Open Sans, Arial, sans-serif;
  overflow: hidden;
}

.toc {
  display: block;
}
.toc-section{
  display: block;
  clear: both;
  float: left;
  white-space: pre-wrap;
}
.toc-subsection{
  display: block;
  clear: both;
  float: left;
  white-space: pre-wrap;
}
.toc-slide{
  display: block;
  clear: both;
  float: left;
  white-space: pre-wrap;
}

.toc-section.emph {
  margin: 1% 0;
  clear: both;
  float: left;
  border: 1px solid #4788B3;
  border-radius: 5px;
}

.toc-subsection.emph {
  clear: both;
  float: left;
  margin: 1% 0;
  border: 1px solid #4788B3;
  border-radius: 5px;
}

.toc-slide.emph {
  margin: 1% 0;
  clear: both;
  float: left;
  border: 1px solid #4788B3;
  border-radius: 5px;
}
