figure:active img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: scale(2.00, 2.00);
          transform: scale(2.00, 2.00);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
}
