
#slide-77.slide {
  background: white;
  display: block;
  width: 900px;
  height: 700px;
}
#slide-77 .slide-content {
  display: block;
  float: left;
  width: 100%;
  height: 85%;
}
#slide-77 .slide-header-1 {
  height: 6%;
  background: white;
  color: #822433;
  display: block;
  active: yes;
  width: 100%;
}
#slide-77 .slide-footer-2 {
  height: 6%;
  padding: 1% 2%;
  background: #822433;
  color: white;
  display: block;
  active: yes;
  width: 100%;
}
#slide-77 .slide-footer-1 {
  height: 3%;
  width: 90%;
  float: right;
  background: #822433;
  display: block;
  active: yes;
}