
#slide-80.slide {
  display: block;
  width: 900px;
  height: 700px;
}
#slide-80 .slide-content {
  display: block;
  float: left;
  width: 75%;
  height: 90%;
}
#slide-80 .slide-header-1 {
  width: 75%;
  height: 10%;
  background: white;
  color: black;
  float: right;
  border-radius: 0;
  display: block;
  active: yes;
}
#slide-80 .slide-sidebar-2 {
  position: L;
  width: 25%;
  height: 100%;
  background: #272586;
  color: white;
  min-height: 100%;
  display: block;
  float: left;
  active: yes;
}