
 body {
  background: radial-gradient(rgb(240, 240, 240), rgb(110, 110, 110));
}
 ol li:before {
  content: counter(item, lower-alpha);
  color: #4788B3;
}
 ul li:before {
  color: #4788B3;
  content: '\262F';
}
 .toc {
  font-variant: small-caps;
}
 .toc-chapter-emph {
  border: 1px solid #4788B3;
  border-radius: 5px;
}
 .toc-section-emph {
  border: 1px solid #4788B3;
  border-radius: 5px;
}
 .toc-subsection-emph {
  border: 1px solid #4788B3;
  border-radius: 5px;
}
 .toc-slide-emph {
  border: 1px solid #4788B3;
  border-radius: 3px;
}
.slide {
  width: 900px;
  height: 700px;
  border-radius: 10px;
  background: green;
  color: rgb(102,102,102);
  font-size: 100%;
  data-offset: 20;
  display: block;
}
 .slide-content {
  background: white;
  color: rgb(102,102,102);
  padding: 1%;
  display: block;
  float: left;
  width: 80%;
  height: 88%;
}
 .slide-header-1 {
  height: 6%;
  padding: 1% 2%;
  background: #4788B3;
  color: white;
  border-radius: 10px 10px 0 0;
  display: block;
  active: yes;
  width: 100%;
}
 .slide-footer-1 {
  height: 6%;
  padding: 1% 2%;
  background: #86B2CF;
  color: white;
  display: block;
  clear: both;
  active: yes;
  width: 100%;
}
 .slide-sidebar-1 {
  position: R;
  width: 20%;
  padding: 1% 2%;
  background: linear-gradient(#4788B3,#86B2CF);
  color: white;
  border-radius: 0;
  display: block;
  float: left;
  active: yes;
  height: 88%;
}
 .box {
  display: inline-block;
  font-variant: small-caps;
  box-shadow: 7px 7px 5px rgba(200,200,200,0.3);
  border-radius: 20px;
}
 .box-caption {
  padding: 0 2%;
  color: red;
  border-bottom: 1px solid #4788B3;
  display: inline-block;
}
 .box-content {
  padding: 0 2%;
  font-size: 120%;
}
 .note {
  display: inline-block;
  font-variant: small-caps;
  box-shadow: 7px 7px 5px rgba(200,200,200,0.3);
  border-radius: 20px;
}
 .note-caption {
  padding: 0 2%;
  color: #4788B3;
  border-bottom: 1px solid #4788B3;
  display: inline-block;
}
 .note-content {
  padding: 0 2%;
  font-size: 120%;
}
 .table-caption {
  padding: 2% 2%;
  color: #4788B3;
  display: inline-block;
}
 .figure {
  font-variant: small-caps;
  text-align: center;
}
 .figure-caption {
  font-size: 80%;
  color: #4788B3;
}
 .figure-content {
  padding: 1% 5%;
  box-shadow: 5px 5px 3px rgba(200,200,200,0.3);
  border-radius: 15px;
}
 .video {
  font-variant: small-caps;
  text-align: center;
}
 .video-caption {
  font-size: 80%;
  color: #4788B3;
}
 .video-content {
  controls: ;
  autoplay: ;
  padding: 1% 5%;
  box-shadow: 5px 5px 3px rgba(200,200,200,0.3);
  border-radius: 15px;
}